In [2]:
#Q1. create one variable containg following type of data

l=["abhi",0,3.14]
i=4
f=56.78
t=(10,'sudh',True,)

In [6]:
#Q2.
var1=''
var2='[DS,ML,PYTHON]'
var3=['DS','ML', 'PYTHON']
var4=1.
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
#Q3.Explain the use of the following operator using the an example 
/# =division operator use of this operator division of two numbers
%# =modulus operator it is also return reminder 
//# =floor division operator it is also return integer division 
**# = Exponent operator or power operator

In [7]:
a=13
print(a/2)

6.5

In [8]:
b=13
print (b%2)

1

In [9]:
a=13
print(a//2)

6

In [10]:
a=4
print(a**3)

64

In [11]:
#Q4.
l=[10,'abhi',3.14,4,'sudh',78,67.3,'durga',67.8,9]
for i in l:
    print(i)
    print(type(i))

10
<class 'int'>
abhi
<class 'str'>
3.14
<class 'float'>
4
<class 'int'>
sudh
<class 'str'>
78
<class 'int'>
67.3
<class 'float'>
durga
<class 'str'>
67.8
<class 'float'>
9
<class 'int'>

In [ ]:
#Q5.
a=int(input('Enter first number'))
#b=int(input('Enter second number'))
#c=0
#while(a%b==0):
    #c=c+1
    #a//10
#print (c)

In [20]:
#Q6.
l=[24,15,17,88,98,65,74,78,25,10,65,42,15,35,98,75,45,75,75,96,70,85,25,14,36]
for i in l:
    if (i%3):
        print ('divisible by 3')
    else:
        print('Not divisible by 3')

Not divisible by 3
Not divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
Not divisible by 3
divisible by 3
divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
divisible by 3
Not divisible by 3
Not divisible by 3
Not divisible by 3
Not divisible by 3
Not divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
Not divisible by 3

In [ ]:
#Q7
mutable=changeable'change the value of variable through the index

immutable=Not changeable

In [23]:
l=[1,6,'abhi',5.6]
print(l[1])
l[1]=12
print(l[1])

6
12

In [24]:
t=(2,67,'alok')
print(t[2])

alok

In [26]:
t[2]='ravi'
print(t[2])

TypeError: 'tuple' object does not support item assignment